<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue3-todos</title>
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.min.js"></script>
    <style>
        .done{
            color:gray;
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="app">
        <h2>{{ title }}</h2>
        <input type="text" v-model="title" @keydown.enter="addTodo"> 
        <ul>
            <li v-for="(todo, index) in todos" :key="index">
                <input type="checkbox" v-model="todo.done">
                <span :class="{ done: todo.done }">{{ todo.title }}</span>
            </li>
        </ul>
        <div>
            <label>
                <span>全选</span><input type="checkbox" v-model="allDone">
            </label>
            <span>{{ active }} / {{ all }}</span>
        </div>
    </div>

    <script>
        const { createApp, ref, computed } = Vue;

        createApp({
            setup() {
                const title = ref('');
                const todos = ref([
                    { title: 'eat', done: false  },
                    { title: 'sleep', done: false },
                    { title: 'code', done: false }
                ]);

                const all = computed(() => todos.value.length);
                const active = computed(() => todos.value.filter(todo => !todo.done).length);
                const allDone = computed({
                    get: () => active.value === 0,
                    set: (value) => {
                        todos.value.forEach(todo => todo.done = value);
                    }
                });

                function addTodo() {
                    if (title.value.trim()) {
                        todos.value.push({ title: title.value, done: false });
                        title.value = '';
                    }
                }

                return {
                    title,
                    todos,
                    all,
                    active,
                    allDone,
                    addTodo
                };
            }
        }).mount('#app');
    </script>
</body>
</html>